<p>{{ range first 1 (where .Site.RegularPages "Params.tags" "intersect" (slice "ez2")) }}<time datetime="{{ .PublishDate.Format "2006-01-02" }}">{{ .PublishDate.Format "January 2, 2006 (Monday)" }}</time>{{ end }} — The Philippine Charity Sweepstakes Office (PCSO) officially released today’s complete lotto draw results for 6/58, 6/55, 6/49, 6/45, 6/42, 6D, 4D, 3D Swertres, and 2D EZ2.</p>

<p>The 3D Swertres and 2D EZ2 lotto draws are held at 2pm, 5pm, & 9pm, and the major lotto games at 9pm.</p>
