{{ $csvFile := default "home.csv" (.Get "file") }}
{{ $ez2_2pm := index (index (getCSV "," (printf "/data/%s" $csvFile)) 4) }}
{{ $ez2_5pm := index (index (getCSV "," (printf "/data/%s" $csvFile)) 5) }}
{{ $ez2_9pm := index (index (getCSV "," (printf "/data/%s" $csvFile)) 6) }}

{{ $swertres_2pm := index (index (getCSV "," (printf "/data/%s" $csvFile)) 10) }}
{{ $swertres_5pm := index (index (getCSV "," (printf "/data/%s" $csvFile)) 11) }}
{{ $swertres_9pm := index (index (getCSV "," (printf "/data/%s" $csvFile)) 12) }}

{{ $4d := index (index (getCSV "," (printf "/data/%s" $csvFile)) 14) }}
{{ $6d := index (index (getCSV "," (printf "/data/%s" $csvFile)) 16) }}

{{ $6_42 := index (index (getCSV "," (printf "/data/%s" $csvFile)) 18) }}
{{ $6_45 := index (index (getCSV "," (printf "/data/%s" $csvFile)) 20) }}
{{ $6_49 := index (index (getCSV "," (printf "/data/%s" $csvFile)) 22) }}
{{ $6_55 := index (index (getCSV "," (printf "/data/%s" $csvFile)) 24) }}
{{ $6_58 := index (index (getCSV "," (printf "/data/%s" $csvFile)) 26) }}

<h2 id="lotto-results-yesterday">Lotto Results Yesterday {{ range first 1 (last (sub (len (where .Site.RegularPages "Params.tags" "intersect" (slice "ez2"))) 1) (where .Site.RegularPages "Params.tags" "intersect" (slice "ez2"))) }}<time datetime="{{ .PublishDate.Format "2006-01-02" }}">{{ .PublishDate.Format "January 2, 2006" }}</time>{{ end }}</h2>

<table class="table-home">
  <caption class="table-caption">
    Lotto result yesterday summary {{ range first 1 (last (sub (len (where .Site.RegularPages "Params.tags" "intersect" (slice "ez2"))) 1) (where .Site.RegularPages "Params.tags" "intersect" (slice "ez2"))) }}<time datetime="{{ .PublishDate.Format "2006-01-02" }}">{{ .PublishDate.Format "January 2, 2006" }}</time>{{ end }}.
  </caption>
  <thead>
    <tr>
      <th>Draw Date</th>
      <th>WINNING COMBINATION</th>
    </tr>
  </thead>
  <tbody>
    <!-- EZ2 -->
    {{ range first 1 (last (sub (len (where .Site.RegularPages "Params.tags" "intersect" (slice "ez2"))) 1) (where .Site.RegularPages "Params.tags" "intersect" (slice "ez2"))) }}
    <tr>
      <td>2D <a href="{{ .Permalink }}"><time datetime="{{ dateFormat "2006-01-02" $.Page.Date }}T14:00:00">{{ .PublishDate.Format "Jan 2, 2006" }} 2PM</time></a></td>
      <td>{{ index $ez2_2pm 1 }}</td>
    </tr>
    {{ end }}
    {{ range first 1 (last (sub (len (where .Site.RegularPages "Params.tags" "intersect" (slice "ez2"))) 1) (where .Site.RegularPages "Params.tags" "intersect" (slice "ez2"))) }}
    <tr>
      <td>2D <a href="{{ .Permalink }}"><time datetime="{{ dateFormat "2006-01-02" $.Page.Date }}T17:00:00">{{ .PublishDate.Format "Jan 2, 2006" }} 5PM</time></a></td>
      <td>{{ index $ez2_5pm 1 }}</td>
    </tr>
    {{ end }}
    {{ range first 1 (last (sub (len (where .Site.RegularPages "Params.tags" "intersect" (slice "ez2"))) 1) (where .Site.RegularPages "Params.tags" "intersect" (slice "ez2"))) }}
    <tr>
      <td>2D <a href="{{ .Permalink }}"><time datetime="{{ dateFormat "2006-01-02" $.Page.Date }}T21:00:00">{{ .PublishDate.Format "Jan 2, 2006" }} 9PM</time></a></td>
      <td>{{ index $ez2_9pm 1 }}</td>
    </tr>
    {{ end }}

    <!-- SWERTRES -->
    {{ range first 1 (last (sub (len (where .Site.RegularPages "Params.tags" "intersect" (slice "swertres"))) 1) (where .Site.RegularPages "Params.tags" "intersect" (slice "swertres"))) }}
    <tr>
      <td>3D <a href="{{ .Permalink }}"><time datetime="{{ dateFormat "2006-01-02" $.Page.Date }}T14:00:00">{{ .PublishDate.Format "Jan 2, 2006" }} 2PM</time></a></td>
      <td>{{ index $swertres_2pm 1 }}</td>
    </tr>
    {{ end }}
    {{ range first 1 (last (sub (len (where .Site.RegularPages "Params.tags" "intersect" (slice "swertres"))) 1) (where .Site.RegularPages "Params.tags" "intersect" (slice "swertres"))) }}
    <tr>
      <td>3D <a href="{{ .Permalink }}"><time datetime="{{ dateFormat "2006-01-02" $.Page.Date }}T17:00:00">{{ .PublishDate.Format "Jan 2, 2006" }} 5PM</time></a></td>
      <td>{{ index $swertres_5pm 1 }}</td>
    </tr>
    {{ end }}
    {{ range first 1 (last (sub (len (where .Site.RegularPages "Params.tags" "intersect" (slice "swertres"))) 1) (where .Site.RegularPages "Params.tags" "intersect" (slice "swertres"))) }}
    <tr>
      <td>3D <a href="{{ .Permalink }}"><time datetime="{{ dateFormat "2006-01-02" $.Page.Date }}T21:00:00">{{ .PublishDate.Format "Jan 2, 2006" }} 9PM</time></a></td>
      <td>{{ index $swertres_9pm 1 }}</td>
    </tr>
    {{ end }}

    <!-- 4D -->
    {{ range first 1 (last (sub (len (where .Site.RegularPages "Params.tags" "intersect" (slice "4d"))) 1) (where .Site.RegularPages "Params.tags" "intersect" (slice "4d"))) }}
    <tr>
      <td>4D <a href="{{ .Permalink }}"><time datetime="{{ .PublishDate.Format "2006-01-02" }}">{{ .PublishDate.Format "Jan 2, 2006" }}</time></a></td>
      <td>{{ index $4d 1 }}</td>
    </tr>
    {{ end }}

    <!-- 6D -->
    {{ range first 1 (last (sub (len (where .Site.RegularPages "Params.tags" "intersect" (slice "6d"))) 1) (where .Site.RegularPages "Params.tags" "intersect" (slice "6d"))) }}
    <tr>
      <td>6D <a href="{{ .Permalink }}"><time datetime="{{ .PublishDate.Format "2006-01-02" }}">{{ .PublishDate.Format "Jan 2, 2006" }}</time></a></td>
      <td>{{ index $6d 1 }}</td>
    </tr>
    {{ end }}

    <!-- 6/42 -->
    {{ range first 1 (last (sub (len (where .Site.RegularPages "Params.tags" "intersect" (slice "6-42"))) 1) (where .Site.RegularPages "Params.tags" "intersect" (slice "6-42"))) }}
    <tr>
      <td>6/42 <a href="{{ .Permalink }}"><time datetime="{{ .PublishDate.Format "2006-01-02" }}">{{ .PublishDate.Format "Jan 2, 2006" }}</time></a></td>
      <td>{{ index $6_42 1 }}</td>
    </tr>
    {{ end }}

    <!-- 6/45 -->
    {{ range first 1 (last (sub (len (where .Site.RegularPages "Params.tags" "intersect" (slice "6-45"))) 1) (where .Site.RegularPages "Params.tags" "intersect" (slice "6-45"))) }}
    <tr>
      <td>6/45 <a href="{{ .Permalink }}"><time datetime="{{ .PublishDate.Format "2006-01-02" }}">{{ .PublishDate.Format "Jan 2, 2006" }}</time></a></td>
      <td>{{ index $6_45 1 }}</td>
    </tr>
    {{ end }}

    <!-- 6/49 -->
    {{ range first 1 (last (sub (len (where .Site.RegularPages "Params.tags" "intersect" (slice "6-49"))) 1) (where .Site.RegularPages "Params.tags" "intersect" (slice "6-49"))) }}
    <tr>
      <td>6/49 <a href="{{ .Permalink }}"><time datetime="{{ .PublishDate.Format "2006-01-02" }}">{{ .PublishDate.Format "Jan 2, 2006" }}</time></a></td>
      <td>{{ index $6_49 1 }}</td>
    </tr>
    {{ end }}

    <!-- 6/55 -->
    {{ range first 1 (last (sub (len (where .Site.RegularPages "Params.tags" "intersect" (slice "6-55"))) 1) (where .Site.RegularPages "Params.tags" "intersect" (slice "6-55"))) }}
    <tr>
      <td>6/55 <a href="{{ .Permalink }}"><time datetime="{{ .PublishDate.Format "2006-01-02" }}">{{ .PublishDate.Format "Jan 2, 2006" }}</time></a></td>
      <td>{{ index $6_55 1 }}</td>
    </tr>
    {{ end }}

    <!-- 6/58 -->
    {{ range first 1 (last (sub (len (where .Site.RegularPages "Params.tags" "intersect" (slice "6-58"))) 1) (where .Site.RegularPages "Params.tags" "intersect" (slice "6-58"))) }}
    <tr>
      <td>6/58 <a href="{{ .Permalink }}"><time datetime="{{ .PublishDate.Format "2006-01-02" }}">{{ .PublishDate.Format "Jan 2, 2006" }}</time></a></td>
      <td>{{ index $6_58 1 }}</td>
    </tr>
    {{ end }}

  </tbody>
</table>
